
* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 0.1em;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}


/* ********************************************************************* */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  color: #234;
  font-family: 'Rubik', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 21px;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.pageWrapper {
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 1rem 0px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* THERE ARE STYLESHEETS ATTACHED TO THIS formatting */

/* grids */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen {

  body {
    background-color: whitesmoke;
  }
  .vandretGalleriWrapper {
    width: 100%;
    height: auto;
    /* border: 1px solid green; */
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 2rem;
    background-color: pink;
  }
  .vandretGalleriWrapper ul#images {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .vandretGalleriWrapper ul#images::after {
    content: "";
    clear: both;
    display: table;
  }
  .vandretGalleriWrapper ul#images li {
    display: block;
    float: none;
    padding: 1rem;
  }
  .vandretGalleriWrapper ul#images li img {
    display: block;
    width: auto;
    /* width: 100%; */
    max-width: 100%;
    margin-bottom: 1rem;
    border: 10px solid white;
  }
  .vandretGalleriWrapper ul#images li span {
    display: block;
    float: left;
    width: 100%;
  }
  
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4. */

/*
@media screen and (min-width: 600px) {

  body {
    background-color: yellow;
  }

  .vandretGalleriWrapper {
    width: 100%;
    height: 70vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .vandretGalleriWrapper ul#images {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .vandretGalleriWrapper ul#images li {
    display: block;
    float: left;
    padding: 1rem;
  }
  .vandretGalleriWrapper ul#images li img {
    display: block;
    width: auto;
    height: 60vh;
    margin-bottom: 1rem;
  }
  .vandretGalleriWrapper ul#images li span {
    display: block;
    float: left;
    width: 100%;
  }
}
*/